<div id="orderList" class="row">
  <h2> Here are your pending pizzas:</h2>
</div>

<div class="row">
  <div ng-repeat="pizza in orderList.pizzaArray track by $index">
    <div ng-if="!pizza.confirmed">
      <div class="order">
        <p>{{ pizza.size }}</p>
          <div ng-repeat="(topping, value) in pizza.toppings" >
            <p ng-show="pizza.toppings[topping]">{{ topping }}</p>
          </div>
        <p>{{ pizza.price | currency }}</p>
      </div>
      <button ng-click="pizza.confirmPizza(pizza)" type="button" class="btn btn-success">Start Cookin'</button>
      <button ng-click="pizza.cancelPizza($index)" type="button"  class="btn btn-danger">Changed my Mind</button>
    </div>
  </div>
</div>
