.diner-nav ul li {
  max-width: 100%;
  display: inline-block;
}


/*#placeOrder start */
#placeOrder .toppings-container .topping button {
  background-color: salmon;
}
#placeOrder .toppings-container .topping,
#placeOrder .toppingButtons button{
  display: inline-block;
  margin: 0.05em;
}


#placeOrder .removeToppingButtons {
  display: none;
}

/*#placeOrder end */

/*#orderList start */

/*#orderList end */

/*#confirmedPizzas start */

/*#confirmedPizzas end */
